<html xmlns:py="http://genshi.edgewall.org/"
  xmlns:i18n="http://genshi.edgewall.org/i18n"
  xmlns:xi="http://www.w3.org/2001/XInclude"
  py:strip=""
  >

  <py:def function="body_class">${h.literal('no-sidebar')}</py:def>
 
  <py:def function="page_title">LexingtonKy.gov</py:def>

  <div py:match="//div[@id='content']" class="front-page">
    <div>
      <h1 class="page_heading">${g.site_title}</h1>
      <p class="welcome">Welcome to Lexington’s open data portal, a collaborative effort between <a href="http://www.lexingtonky.gov">LFUCG</a> and the community. Our mission is to promote the openness, transparency and accountability of local government by providing high-value government data in standards compliant, machine readable format. This will serve as the basis for the creation of useful civic applications by third party developers.</p>
      <p class="welcome">For the initial launch, Lexington is providing free access to its geographic information. Over 80 geographic data layers from the city’s enterprise GIS are available and will be updated on a quarterly basis. Links to existing applications promoting the transparency of the legislative process as well as crime data are accessible from the “<a href="apps">applications menu</a>”.</p>
      <p class="welcome">In the coming months we will continue to expand our data catalog and offerings to build on the foundation we have established.</p>
    </div>
    <div class="row">
    </div>
    <div py:if="c.groups" class="row whoelse">
      <div class="span12">
        <h2>Data Categories</h2>
        <p><a href="${h.url_for(controller='package', action='search')}">${c.package_count} datasets</a> available in ${h.nav_named_link(_('6 categories'), name='%s_index' % h.default_group_type() )}</p>
      </div>
    </div>
    <div class="row">
      <py:for each="i, group_dict in enumerate(c.groups[:6])">
        <div class="span4">
          <div class="group">
            <h3><a href="${h.url_for(controller='group', action='read', id=group_dict['name'])}">${group_dict['title']}</a>: ${group_dict['packages']} datasets</h3>
            <p>
              ${h.markdown_extract(group_dict['description'])}
            </p>
          </div>
        </div>
      </py:for>
    </div>
  </div>
  <xi:include href="layout.html" />
</html>

