<html xmlns:py="http://genshi.edgewall.org/"
  xmlns:i18n="http://genshi.edgewall.org/i18n"
  xmlns:xi="http://www.w3.org/2001/XInclude"
  py:strip="">
  
  <py:def function="page_title">Applications</py:def>

  <div py:match="content">
    <h2>Applications</h2>
   <p><strong>NOTE: Applications and links on this page are not &quot;open data&quot; but are a means of easy access to frequently requested information.</strong></p>
    <strong><a href="http://lexington.legistar.com/">Legistar</a></strong>
    <p>Legistar allows government staff to easily manage the entire legislative process from end-to-end. From drafting files, through assignment to various departments, to final approval, Legistar is an automated solution designed to reduce workloads and create a more efficient method for managing decisions. This system maintains all legislative data and tracks each item’s path through the entire process.</p> 
    <strong><a href="http://www.raidsonline.com/?address=Lexington,%20KY">RAIDS Online</a></strong>
    <p>The Lexington Division of Police and BAIR Analytics Inc. recently partnered to provide a new way for the public to stay informed about crime in Lexington. The Lexington Division of Police now has an online crime map called RAIDS Online that maps and analyzes crime data, alerts Lexington citizens about crimes in their area, and allows the Lexington Division of Police to quickly alert the public about crimes as they occur.</p>     
  </div>

  <xi:include href="layout.html" />
</html>
